# This setup for local development. For production, use environment variables or a secrets manager to securely manage sensitive information.

# Django settings
DEBUG='True'
SECRET_KEY='django-insecure-q^^wo#%n3jrco=_(*^l(tnmndfvo-3e0qvpapee9$d*bm_es8+'

# Domain and Host Configuration
ALLOWED_HOSTS='127.0.0.1,localhost'

# Database Configuration
DATABASE_URL='sqlite:///db.sqlite3'

# Email Configuration
EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587
EMAIL_USE_TLS='True'
EMAIL_HOST_USER='hasibsorker02@gmail.com'
EMAIL_HOST_PASSWORD='pgmg bjzu xikp lcps'
DEFAULT_FROM_EMAIL='hasibsorker02@gmail.com'

# Site Configuration
DOMAIN='localhost:5173'
SITE_NAME='localhost:5173'

# CORS Configuration
CORS_ALLOWED_ORIGINS='http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173'
CSRF_TRUSTED_ORIGINS='http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173'

# SSLCommerz Payment Gateway
SSLCOMMERZ_STORE_ID='teamr600c004f8da4d'
SSLCOMMERZ_STORE_PASS='teamr600c004f8da4d@ssl'